.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding: 25px;
    direction: rtl;
    box-shadow: #F5F5F5 0px 0px 5px 0px;
}
.logo{
    box-shadow: #F5F5F5 0px 0px 5px 0px;
    width: 120px;
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    height: 120px;
    position: absolute;
    background-color: #F5F5F5;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}
.logo img{
    width: 70%;
}
.item{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item .subitem{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.item .subitem a {
    text-decoration: none;
    color: #707070;
    font-size: 20px;
}
.singin{
    color: #2BA769 !important;
}
.subitem span{
    padding:2px;
    color: #707070;
}

.phoneheader{display: none;}
.glass{display: none;}
@media (max-width: 1000px){
    .header{display: none}
    .phoneheader{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #F5F5F5;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    .glass{
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(10px);
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: block;
    }
    .logo{
        left: 0;
    }
    .menuopener{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        box-shadow: #F5F5F5 0px 0px 5px 0px;
    }
    .menuopener svg{
        width: 80%;
        height: 80%;
        color: #2BA769;
    }
    .menu{
        position: fixed;
        z-index: 99;
        right: -100%;
        top: 0;
        width: 75%;
        background-color: white;
        height: 100vh;
        box-shadow: #F5F5F5 0px 0px 5px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 15px;
        padding-right: 10px;
        flex-direction: column;

    }
    .menu .pitem{
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .menu .pitem a{
        color: black;
        text-decoration: none;
    }
    .menu .pitem .logo{
        position: static !important;
    }
    .closebtn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        cursor: pointer;
    }
    .closebtn svg{
        color: #2BA769;
        width: 30px;
        height: 30px;

    }
    .singupbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:88%;
    }
    .snitem{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .snitem a{
        color: #707070;
        text-decoration: none;
        padding: 10px;
    }
    .singupbtn{
        color: white !important;
        background-color: #2BA769;
    }
    .singupbtn a{
        color: white;
    }

}

@media (max-width: 1000px) {
    .header{display: none}
    .phoneheader{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #F5F5F5;
        width: 100%;
        height: 150px;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    .glass{
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(10px);
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: block;
    }
    .logo{
        left: 0;
        width: 250px;
        height: 250px;
    }
    .menuopener{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        box-shadow: #F5F5F5 0px 0px 5px 0px;
    }
    .menuopener svg{
        width: 80%;
        height: 80%;
        color: #2BA769;
    }
    .menu{
        position: fixed;
        z-index: 99;
        right: -100%;
        top: 0;
        width: 75%;
        background-color: white;
        height: 100vh;
        box-shadow: #F5F5F5 0px 0px 5px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 15px;
        padding-right: 10px;
        flex-direction: column;

    }
    .menu .pitem{
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    .menu .pitem a{
        color: black;
        text-decoration: none;
    }
    .menu .pitem .logo{
        position: static !important;
    }
    .closebtn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        cursor: pointer;
        width: 100px;
        height: 100px;
    }
    .closebtn svg{
        color: #2BA769;
        width: 70px;
        height: 70px;

    }
    .singupbox{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:88%;
    }
    .snitem{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .snitem a{
        color: #707070;
        text-decoration: none;
        padding: 10px;
    }
    .singupbtn{
        color: white !important;
        background-color: #2BA769;
    }
    .singupbtn a{
        color: white;
    }

}
