*{
    -webkit-tap-highlight-color: #00000000;
}
@keyframes moveanime {
    from {
        transform: rotate3d(1, 1, 1, 304deg) translate(0px , 0px);
    }
    to{
        transform: rotate3d(1, 1, 1, 304deg) translate(100px , 0px);
    }
    
}
@keyframes btnanimation {
    from {
        bottom: 70px;
    }
    to{
        bottom: 120px;
    }
    
}
h3 ,p {
    text-align: right;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    font-family: "Segoe UI";
    transition-duration: 0.3s;
    user-select: none;
}

a{
    position: relative;

}
a::after{
    content: "";
    width: 0%;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #2BA769;
    box-shadow: #2BA769 0px 0px 5px 0px;
    height: 2px;
    border-radius: 10px;
    transition-duration: 0.3s;
    direction: rtl;
}
a:hover::after{
    width: 100%;
}
.bod {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.root{
    width: 1360px;
}


.backdropglass{
    position: fixed;
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.contact{
    position: relative;
    background-color: #00000000;
}

@media (max-width: 1000px) {
    a {
        font-size: 35px;
    }
    h4{
        font-size: 30px;
    }
    .root{
        width: 100%;
    }
    .title h2{
        font-size: 60px !important;
        text-align: right;
    }
    .button-33{
        width: 150px;
        height: 150px;
    }
    .button-33 svg{
        width: 80% !important;
        height: 80% !important;
    }
    .leftside img {
        width: 500px;
    }
    .leftside .backdrop {
        width: 700px;
        height: 700px;
    }
    .topparent .rightside {
        width: 50%;
        top: 200px !important;
        left: 197px !important;
    }
    .rightside{
        direction: rtl;
    }
    .rightside h1 {
        font-size: 55px;
        position: absolute;
        right: 0px;
        top: 612px;
    }
    #testsvg {
        width: 80% !important;
    }

}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title h2{
    color:#707070;
    text-decoration: underline;
}

@keyframes borderanimation {
    from{
        border-radius: 72% 28% 36% 57% / 42% 67% 33% 49%;
        
    }
    to{
        border-radius: 95% 51% 59% 80% / 65% 90% 56% 72%;
    }
}
.boxtopside{
    width: 100% !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 100%;
    position: relative;
    background-image: url('https://office.mizito.ir/assets/img/wallpaper/back-pattern.png');
    background-repeat: no-repeat;
    background: rgb(0,16,36);
    background:linear-gradient(7deg, rgba(0,16,36,0) 0%, rgba(0,0,0,0) 20%,rgb(0 255 162 / 12%) 45%);
}
.leftside{
    width: 50%;
    left: 260px !important;
}
.rightside{
    width: 50%;
    top: 300px !important;
    left: -100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logobox{
    left: 15px !important;
    top: 15px !important;

}
.logobox img{
    width: 100px;
    height: 100px;
    
}
.ailogo img{
    width: 300px;
}
.backdrop{
    width: 500px;
    height: 500px;
    background-color: #2BA769;
    border-style: solid;
    border-color: #2ba769d0;
    border-width: 5px;
    border-radius: 72% 28% 36% 57% / 42% 67% 33% 49%;
    position: absolute;
    bottom: 150px;
    z-index: -1;
    animation-name: borderanimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    left: 46%;
    bottom: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: btnanimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
.button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    animation-play-state: paused;
}
#testsvg{
    position: absolute;
    color: #00000000;
    bottom: -193px;
    left: -494px;
    width: 32%;
    height: 100%;
    /* transform: rotate(-270deg) rotateX(180deg); */
}
.button-33 svg{
    width: 30px;
    height: 30px;
}
.logovector{
    width: 50px;
    cursor: pointer;   
}
.c-sharp{
    position: absolute;
    top: 226px;
    left: 238px;
    z-index: 9;
    transform: rotate(277deg);
}
.php{
    position: absolute;
    top: 85px;
    left: 270px;
    z-index: 9;
}
.v1 {
    background-color: rgba(0, 170, 255, 0.628);
    width: 100px;
    height: 100px;
    top: 437px;
    left: 456px;
   border: none;
}
.v2 {
    background-color: rgba(204, 255, 0, 0.448);
    width: 600px;
    height: 600px;
    top: 437px;
    left: -155px;
    border: none;
}
.v3{
    background-color: #2ba7696d;
    width: 350px;
    height: 350px;
    top: -100px;
    left: -54px;
    border: none;
}
.corses{
    position: relative;
}
.details .backdrop.v1{
    width: 200px;
    height: 200px;
    top: 129px;
    left: 1282px;
    border: none;
}
.imagebox{
    width: 1350px;
    height: fit-content;
    position: absolute;
    left: -323px;
    top: -184px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    transform: rotate3d(1, 1, 1, 304deg);
    animation-name: moveanime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}
.imagebox:hover{
    animation-play-state: paused;
}
.imageitem{
    width: 100px;
    height: 110px;
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.489) 0px 0px 2px 0px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageitem .profilepic{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.imageitem .profilepic img{
    width: 100%;
    border-radius: 100%;
}
.java{
  position: absolute;  
  top: 169px;
  left: 143px;
  z-index: 9;
}
.python {
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotate(320deg);
    z-index: 9;
}
.logovector:hover{
    width: 60px;
}
.topparent{
    position: relative;
    /* background-image: url('../assets/img/Daco_5277384.png');
    background-position: center;
    background-size: cover; */

}

.btn a::after{
    display: none !important;
}